<html>
    <head>
        <meta content="width=device-width,initial-scale=1,minimum-scale=1" name="viewport" charset="utf-8">
            <title>
                vue-RGB颜色值与十六进制颜色码转换工具
            </title>
            <link href="../style.css" rel="stylesheet" type="text/css">
                <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js">
                </script>
                <style>
                    .rle{width:3em;}
#a_mo2,#a_mo3{color:red;font-weight:400;}
@media screen and (max-width:480px) {
#color tr td:nth-of-type(2),#color tr td:nth-of-type(3){display:none;}
}
                </style>
            </link>
        </meta>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" class="content" width="100%">
            <tr>
                <td class="area" valign="top">
                    <table bgcolor="#fcfcfc" border="1" bordercolor="#d9d9d9" cellpadding="8" cellspacing="0" style="border-collapse: collapse" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <div id="tranRGB">
                                        <div>
                                            RGB颜色值转换成十六进制颜色码：
                                        </div>
                                        <table border="0" cellpadding="0" cellspacing="4">
                                            <tbody>
                                                <tr>
                                                    <td width="200">
                                                        <input class="rle" maxlength="3" v-model="rnum">
                                                            <input class="rle" maxlength="3" v-model="gnum">
                                                                <input class="rle" maxlength="3" v-model="bnum">
                                                                </input>
                                                            </input>
                                                        </input>
                                                    </td>
                                                    <td id="color1" v-bind:bgcolor="color" width="50">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div id="a_mo2">
                                            {{rgbcode}}
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        var tran = function(rnum, gnum, bnum){
                        console.log(rnum);
                        console.log(gnum);
                        console.log(bnum);
                        if(rnum < 256 && rnum >= 0 && gnum < 256 && gnum >=0 && bnum < 256 && bnum >=0){
                          var c = "0123456789ABCDEF";
                          var hexcode = "#";
                          [rnum, gnum, bnum].forEach(n=>{
                            var b = "",
                                a = n % 16;
                              b = c.substr(a, 1);
                              a = (n - a) / 16;
                              hexcode += c.substr(a, 1) + b
                            });
                          return hexcode;
                        }
                        return "#FFFFFF";
                      };
                      var vm = new Vue({
                        el: '#tranRGB',
                        data: {
                          rgbcode: "#FFB400",
                          color: "#FFB400",
                          rnum: 255,
                          gnum: 180,
                          bnum: 0
                        },
                        watch: {
                          rnum: function(val){
                            this.rnum = val;
                            var rgbnum = tran(this.rnum, this.gnum, this.bnum);
                            this.color = this.rgbcode = rgbnum;
                          },
                          gnum: function(val){
                            this.gnum = val;
                            var rgbnum = tran(this.rnum, this.gnum, this.bnum);
                            this.color = this.rgbcode = rgbnum;
                          },
                          bnum: function(val){
                            this.bnum = val;
                            var rgbnum = tran(this.rnum, this.gnum, this.bnum);
                            this.color = this.rgbcode = rgbnum;
                          }
                        }
                      });
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        十六进制颜色码转换成RGB颜色值：
                                    </div>
                                    <div id="tranRGB2">
                                        <table border="0" cellpadding="0" cellspacing="4">
                                            <tbody>
                                                <tr>
                                                    <td width="200">
                                                        <input maxlength="7" size="8" v-model="RGBcode2">
                                                        </input>
                                                    </td>
                                                    <td id="color2" v-bind:bgcolor="color" width="50">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div id="a_mo3">
                                            {{rnum}}, {{gnum}}, {{bnum}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        var vm2 = new Vue({
                          el: '#tranRGB2',
                          data: {
                             RGBcode2 : "#CC00FF",
                             color: "#CC00FF",
                             rnum: 204,
                             gnum: 0,
                             bnum: 255
                          },
                          methods: {
                          },
                          computed :{
                          },
                          watch : {
                             RGBcode2:function(val) {
                              this.RGBcode2 = val;
                              var a = val;
                              if (a.substr(0, 1) == "#") a = a.substring(1);
                              if (a.length != 6) return;
                              if (a.length == 6) this.color=a;
                              //document.getElementById("color2").bgColor = "#" + a;
                              a = a.toLowerCase()
                              b = new Array();
                              for (x = 0; x < 3; x++) {
                                  b[0] = a.substr(x * 2, 2)
                                  b[3] = "0123456789abcdef";
                                  b[1] = b[0].substr(0, 1)
                                  b[2] = b[0].substr(1, 1)
                                  b[20 + x] = b[3].indexOf(b[1]) * 16 + b[3].indexOf(b[2])
                              }
                              this.rnum = b[20];
                              this.gnum = b[21];
                              this.bnum = b[22];
                             }
                          }
                        });
                    </script>
                    <div align="center" style="margin-top:10px; ">
                        颜色码对照表
                    </div>
                    <div id="colorlist">
                        <table border="1" bordercolor="#cccccc" cellpadding="0" cellspacing="0" style="font-size:14px;border-collapse:collapse" width="100%">
                            <tbody id="color">
                                <tr align="center">
                                    <td>
                                        <strong>
                                            颜色
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            英文代码
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            形象描述
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            十六进制
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            RGB
                                        </strong>
                                    </td>
                                </tr>
                                <template v-for="color in colors">
                                    <tr>
                                        <td v-bind:bgcolor="color.rgb">
                                        </td>
                                        <td>
                                            {{color.ename}}
                                        </td>
                                        <td>
                                            {{color.cname}}
                                        </td>
                                        <td>
                                            {{color.rgb}}
                                        </td>
                                        <td>
                                            {{tranhex2rgb(color.rgb)}}
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <script type="text/javascript">
            new Vue({
            el: "#colorlist",
            data:{
              colors: [
              {rgb: "#FFB6C1", ename: "LightPink", cname: "浅粉红"},
              {rgb: "#FFC0CB", ename: "Pink", cname: "粉红"},
              {rgb: "#DC143C", ename: "Crimson", cname: "猩红"},
              {rgb: "#FFF0F5", ename: "LavenderBlush", cname: "脸红的淡紫色"},
              {rgb: "#DB7093", ename: "PaleVioletRed", cname: "苍白的紫罗兰红色"},
              {rgb: "#FF69B4", ename: "HotPink", cname: "热情的粉红"},
              {rgb: "#FF1493", ename: "DeepPink", cname: "深粉色"},
              {rgb: "#C71585", ename: "MediumVioletRed", cname: "适中的紫罗兰红色"},
              {rgb: "#DA70D6", ename: "Orchid", cname: "兰花的紫色"},
              {rgb: "#D8BFD8", ename: "Thistle", cname: "蓟"},
              {rgb: "#DDA0DD", ename: "plum", cname: "李子"},
              {rgb: "#EE82EE", ename: "Violet", cname: "紫罗兰"},
              {rgb: "#FF00FF", ename: "Magenta", cname: "洋红"},
              {rgb: "#FF00FF", ename: "Fuchsia", cname: "灯笼海棠(紫红色)"},
              {rgb: "#8B008B", ename: "DarkMagenta", cname: "深洋红色"},
              {rgb: "#800080", ename: "Purple", cname: "紫色"},
              {rgb: "#BA55D3", ename: "MediumOrchid", cname: "适中的兰花紫"},
              {rgb: "#9400D3", ename: "DarkVoilet", cname: "深紫罗兰色"},
              {rgb: "#9932CC", ename: "DarkOrchid", cname: "深兰花紫"},
              {rgb: "#4B0082", ename: "Indigo", cname: "靛青"},
              {rgb: "#8A2BE2", ename: "BlueViolet", cname: "深紫罗兰的蓝色"},
              {rgb: "#9370DB", ename: "MediumPurple", cname: "适中的紫色"},
              {rgb: "#7B68EE", ename: "MediumSlateBlue", cname: "适中的板岩暗蓝灰色"},
              {rgb: "#6A5ACD", ename: "SlateBlue", cname: "板岩暗蓝灰色"},
              {rgb: "#483D8B", ename: "DarkSlateBlue", cname: "深岩暗蓝灰色"},
              {rgb: "#E6E6FA", ename: "Lavender", cname: "熏衣草花的淡紫色"},
              {rgb: "#F8F8FF", ename: "GhostWhite", cname: "幽灵的白色"},
              {rgb: "#0000FF", ename: "Blue", cname: "纯蓝"},
              {rgb: "#0000CD", ename: "MediumBlue", cname: "适中的蓝色"},
              {rgb: "#191970", ename: "MidnightBlue", cname: "午夜的蓝色"},
              {rgb: "#00008B", ename: "DarkBlue", cname: "深蓝色"},
              {rgb: "#000080", ename: "Navy", cname: "海军蓝"},
              {rgb: "#4169E1", ename: "RoyalBlue", cname: "皇军蓝"},
              {rgb: "#6495ED", ename: "CornflowerBlue", cname: "矢车菊的蓝色"},
              {rgb: "#B0C4DE", ename: "LightSteelBlue", cname: "淡钢蓝"},
              {rgb: "#778899", ename: "LightSlateGray", cname: "浅石板灰"},
              {rgb: "#708090", ename: "SlateGray", cname: "石板灰"},
              {rgb: "#1E90FF", ename: "DoderBlue", cname: "道奇蓝"},
              {rgb: "#F0F8FF", ename: "AliceBlue", cname: "爱丽丝蓝"},
              {rgb: "#4682B4", ename: "SteelBlue", cname: "钢蓝"},
              {rgb: "#87CEFA", ename: "LightSkyBlue", cname: "淡蓝色"},
              {rgb: "#87CEEB", ename: "SkyBlue", cname: "天蓝色"},
              {rgb: "#00BFFF", ename: "DeepSkyBlue", cname: "深天蓝"},
              {rgb: "#ADD8E6", ename: "LightBLue", cname: "淡蓝"},
              {rgb: "#B0E0E6", ename: "PowDerBlue", cname: "火药蓝"},
              {rgb: "#5F9EA0", ename: "CadetBlue", cname: "军校蓝"},
              {rgb: "#F0FFFF", ename: "Azure", cname: "蔚蓝色"},
              {rgb: "#E1FFFF", ename: "LightCyan", cname: "淡青色"},
              {rgb: "#AFEEEE", ename: "PaleTurquoise", cname: "苍白的绿宝石"},
              {rgb: "#00FFFF", ename: "Cyan", cname: "青色"},
              {rgb: "#00FFFF", ename: "Aqua", cname: "水绿色"},
              {rgb: "#00CED1", ename: "DarkTurquoise", cname: "深绿宝石"},
              {rgb: "#2F4F4F", ename: "DarkSlateGray", cname: "深石板灰"},
              {rgb: "#008B8B", ename: "DarkCyan", cname: "深青色"},
              {rgb: "#008080", ename: "Teal", cname: "水鸭色"},
              {rgb: "#48D1CC", ename: "MediumTurquoise", cname: "适中的绿宝石"},
              {rgb: "#20B2AA", ename: "LightSeaGreen", cname: "浅海洋绿"},
              {rgb: "#40E0D0", ename: "Turquoise", cname: "绿宝石"},
              {rgb: "#7FFFAA", ename: "Auqamarin", cname: "绿玉\碧绿色"},
              {rgb: "#00FA9A", ename: "MediumAquamarine", cname: "适中的碧绿色"},
              {rgb: "#00FF7F", ename: "MediumSpringGreen", cname: "适中的春天的绿色"},
              {rgb: "#F5FFFA", ename: "MintCream", cname: "薄荷奶油"},
              {rgb: "#3CB371", ename: "SpringGreen", cname: "春天的绿色"},
              {rgb: "#2E8B57", ename: "SeaGreen", cname: "海洋绿"},
              {rgb: "#F0FFF0", ename: "Honeydew", cname: "蜂蜜"},
              {rgb: "#90EE90", ename: "LightGreen", cname: "淡绿色"},
              {rgb: "#98FB98", ename: "PaleGreen", cname: "苍白的绿色"},
              {rgb: "#8FBC8F", ename: "DarkSeaGreen", cname: "深海洋绿"},
              {rgb: "#32CD32", ename: "LimeGreen", cname: "酸橙绿"},
              {rgb: "#00FF00", ename: "Lime", cname: "酸橙色"},
              {rgb: "#228B22", ename: "ForestGreen", cname: "森林绿"},
              {rgb: "#008000", ename: "Green", cname: "纯绿"},
              {rgb: "#006400", ename: "DarkGreen", cname: "深绿色"},
              {rgb: "#7FFF00", ename: "Chartreuse", cname: "查特酒绿"},
              {rgb: "#7CFC00", ename: "LawnGreen", cname: "草坪绿"},
              {rgb: "#ADFF2F", ename: "GreenYellow", cname: "绿黄色"},
              {rgb: "#556B2F", ename: "OliveDrab", cname: "橄榄土褐色"},
              {rgb: "#F5F5DC", ename: "Beige", cname: "米色(浅褐色)"},
              {rgb: "#FAFAD2", ename: "LightGoldenrodYellow", cname: "浅秋麒麟黄"},
              {rgb: "#FFFFF0", ename: "Ivory", cname: "象牙"},
              {rgb: "#FFFFE0", ename: "LightYellow", cname: "浅黄色"},
              {rgb: "#FFFF00", ename: "Yellow", cname: "纯黄"},
              {rgb: "#808000", ename: "Olive", cname: "橄榄"},
              {rgb: "#BDB76B", ename: "DarkKhaki", cname: "深卡其布"},
              {rgb: "#FFFACD", ename: "LemonChiffon", cname: "柠檬薄纱"},
              {rgb: "#EEE8AA", ename: "PaleGodenrod", cname: "灰秋麒麟"},
              {rgb: "#F0E68C", ename: "Khaki", cname: "卡其布"},
              {rgb: "#FFD700", ename: "Gold", cname: "金"},
              {rgb: "#FFF8DC", ename: "Cornislk", cname: "玉米色"},
              {rgb: "#DAA520", ename: "GoldEnrod", cname: "秋麒麟"},
              {rgb: "#FFFAF0", ename: "FloralWhite", cname: "花的白色"},
              {rgb: "#FDF5E6", ename: "OldLace", cname: "老饰带"},
              {rgb: "#F5DEB3", ename: "Wheat", cname: "小麦色"},
              {rgb: "#FFE4B5", ename: "Moccasin", cname: "鹿皮鞋"},
              {rgb: "#FFA500", ename: "Orange", cname: "橙色"},
              {rgb: "#FFEFD5", ename: "PapayaWhip", cname: "番木瓜"},
              {rgb: "#FFEBCD", ename: "BlanchedAlmond", cname: "漂白的杏仁"},
              {rgb: "#FFDEAD", ename: "NavajoWhite", cname: "纳瓦霍白"},
              {rgb: "#FAEBD7", ename: "AntiqueWhite", cname: "古代的白色"},
              {rgb: "#D2B48C", ename: "Tan", cname: "晒黑"},
              {rgb: "#DEB887", ename: "BrulyWood", cname: "结实的树"},
              {rgb: "#FFE4C4", ename: "Bisque", cname: "(浓汤)乳脂,番茄等"},
              {rgb: "#FF8C00", ename: "DarkOrange", cname: "深橙色"},
              {rgb: "#FAF0E6", ename: "Linen", cname: "亚麻布"},
              {rgb: "#CD853F", ename: "Peru", cname: "秘鲁"},
              {rgb: "#FFDAB9", ename: "PeachPuff", cname: "桃色"},
              {rgb: "#F4A460", ename: "SandyBrown", cname: "沙棕色"},
              {rgb: "#D2691E", ename: "Chocolate", cname: "巧克力"},
              {rgb: "#8B4513", ename: "SaddleBrown", cname: "马鞍棕色"},
              {rgb: "#FFF5EE", ename: "SeaShell", cname: "海贝壳"},
              {rgb: "#A0522D", ename: "Sienna", cname: "黄土赭色"},
              {rgb: "#FFA07A", ename: "LightSalmon", cname: "浅鲜肉(鲑鱼)色"},
              {rgb: "#FF7F50", ename: "Coral", cname: "珊瑚"},
              {rgb: "#FF4500", ename: "OrangeRed", cname: "橙红色"},
              {rgb: "#E9967A", ename: "DarkSalmon", cname: "深鲜肉(鲑鱼)色"},
              {rgb: "#FF6347", ename: "Tomato", cname: "番茄"},
              {rgb: "#FFE4E1", ename: "MistyRose", cname: "薄雾玫瑰"},
              {rgb: "#FA8072", ename: "Salmon", cname: "鲜肉(鲑鱼)色"},
              {rgb: "#FFFAFA", ename: "Snow", cname: "雪"},
              {rgb: "#F08080", ename: "LightCoral", cname: "淡珊瑚色"},
              {rgb: "#BC8F8F", ename: "RosyBrown", cname: "玫瑰棕色"},
              {rgb: "#CD5C5C", ename: "IndianRed", cname: "印度红"},
              {rgb: "#FF0000", ename: "Red", cname: "纯红"},
              {rgb: "#A52A2A", ename: "Brown", cname: "棕色"},
              {rgb: "#B22222", ename: "FireBrick", cname: "耐火砖"},
              {rgb: "#8B0000", ename: "DarkRed", cname: "深红色"},
              {rgb: "#800000", ename: "Maroon", cname: "栗色"},
              {rgb: "#FFFFFF", ename: "White", cname: "纯白"},
              {rgb: "#F5F5F5", ename: "WhiteSmoke", cname: "白烟"},
              {rgb: "#DCDCDC", ename: "Gainsboro", cname: "亮灰色"},
              {rgb: "#D3D3D3", ename: "LightGrey", cname: "浅灰色"},
              {rgb: "#C0C0C0", ename: "Silver", cname: "银白色"},
              {rgb: "#A9A9A9", ename: "DarkGray", cname: "深灰色"},
              {rgb: "#808080", ename: "Gray", cname: "灰色"},
              {rgb: "#696969", ename: "DimGray", cname: "暗淡的灰色"},
              {rgb: "#000000", ename: "Black", cname: "纯黑"}
              ]
            },
            methods:{
              tranhex2rgb: function(val){
                var a = val;
                if (a.substr(0, 1) == "#") a = a.substring(1);
                if (a.length != 6) return;
                if (a.length == 6) this.color=a;
                //document.getElementById("color2").bgColor = "#" + a;
                a = a.toLowerCase()
                b = new Array();
                for (x = 0; x < 3; x++) {
                    b[0] = a.substr(x * 2, 2)
                    b[3] = "0123456789abcdef";
                    b[1] = b[0].substr(0, 1)
                    b[2] = b[0].substr(1, 1)
                    b[20 + x] = b[3].indexOf(b[1]) * 16 + b[3].indexOf(b[2])
                }
                return b[20] + "," + b[21] + "," + b[22];
              }
            }
          });
        </script>
    </body>
</html>
<hr/>
<hr/>
<hr/>
<address style="text-align:right">
    Written by
    <a href="mailto:diralpo@163.com">
        <acronym title="一只弱鶸">
            diralpo
        </acronym>
    </a>
    .
    <br>
        Visit us at: China
    </br>
</address>
